In [ ]:
"Pre-lecture" HW
2.2	From my point of view, the observation is an objective object, and the variable is the characteristic contained in this object. They can be compared to the independent variable and dependent variable in a mathematical function model. Each observation (x) has its own characteristic (y). The independent variable determines the value of the dependent variable, and each observation has corresponding variable data.
4.	df.shape shows the (number of rows, number of columns) of the dataset. It shows the size of the entire dataset, regardless of whether the columns are numeric or have missing values. df.describe() only analyzes numeric columns and provides a statistical summary of those columns. So it usually reports more things. The count value in df.describe() indicates the number of non-missing values ​​in that column. Unlike df.shape, the count column does not include the number of NaN or missing values. Therefore, if there are missing values ​​in a column, the number in count will be less than the total number of rows in the dataset.
5.	Based on the two codes given, I think "attributes" are stating objective facts and data, such as df.shape will directly tell me the number of rows and columns; while "methods" are performing activities such as calculations or summarization, such as df.describe() will perform data statistics and analysis.
6.	count：The number of non-null values ​​in each variable (column) in the dataset
	mean: The arithmetic average of all values ​​in the data set.
	std： Citing physics, this is the discreteness of the data, representing its fluctuation size.
	Min: Minimum value in the data.
	25%: Indicates that 25% of the values ​​in the data are less than or equal to this number.
	50%: Indicates that 50% of the values ​​in the data are less than or equal to this number.
	75%: Indicates that 75% of the values ​​in the data are less than or equal to this number.
	Max: The largest value in the data set.
Q1-6 ChatGPT link https://chatgpt.com/share/21486cd5-b5c2-472a-b3af-0110760b97d2 
"Post-lecture" HW

7.1	A data set contains many columns, and most of the columns have complete data, but some rows have missing values. At this point, if you delete the entire column (del df['col']), you may lose a lot of valuable information. Using df.dropna(), you can delete only the rows containing missing values ​​and retain most of the complete data.

7.2	Suppose almost all the values ​​in a column are missing, or the information in the column is of no practical significance to your analysis. In this case, it is a better choice to delete the entire column rather than deleting every row with missing values.

7.3	In order to avoid excessive deletion of useful data, you should first delete irrelevant or unimportant columns and then process rows with missing values. The missing values ​​of useless columns will not affect the subsequent cleaning because I have already deleted them. In addition, by deleting these irrelevant columns, other columns in the dataset that are useful for analysis are retained.

7.4 	Steps:1)Remove irrelevant or mostly missing columns: First, remove columns that have little to no usable data.
	
      2)Remove remaining rows with missing values: Use df.dropna() to remove rows containing missing values.	
8.2	df.describe() is an operation performed on the entire data frame, and it generates statistics for numeric columns. For each column, it calculates the number of non-missing values, i.e. count. If a column has missing values, the count value of df.describe() will be less than the total number of rows in the dataset because it only counts non-missing entries.
	df.groupby("col1")["col2"].describe() is a grouping operation that groups the data by the unique values ​​of col1 and performs descriptive statistics on the col2 column in each group. Its count value indicates the number of non-missing values ​​of the col2 column in each group.Therefore, the count in df.groupby("col1")["col2"].describe() represents only the non-missing values ​​of the col2 column within each group.

8.3	After trying all possible errors, I prefer to use ChatGPT to find the problem. I simply copy and paste the text description of the code error into ChatGPT, and then it will tell me how to modify and attach the correct code. For these relatively simple problems, it did not have any errors. Google's direct search is suitable for obvious problems. If I know where the problem is, I can search for keywords directly, and the search engine will tell me the solution.
Q8 ChatGPT Link https://chatgpt.com/share/4eee84df-ae48-485f-9f74-a31021566db4

9.	To be honest, I could hardly understand what the professor said in the lecture and the methods demonstrated in the textbook. As a student with almost no Python foundation, this was very difficult.

In [10]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
num_rows, num_columns = df.shape
print(f"DataFrame has {num_rows} rows and {num_columns} columns.")

DataFrame has 391 rows and 11 columns.

In [3]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
summary = df.describe(include='all')
print (summary)

             row_n       id     name gender species birthday personality  \
count   391.000000      390      391    391     391      391         391
unique         NaN      390      391      2      35      361           8
top            NaN  admiral  Admiral   male     cat     1-27        lazy
freq           NaN        1        1    204      23        2          60
mean    239.902813      NaN      NaN    NaN     NaN      NaN         NaN
std     140.702672      NaN      NaN    NaN     NaN      NaN         NaN
min       2.000000      NaN      NaN    NaN     NaN      NaN         NaN
25%     117.500000      NaN      NaN    NaN     NaN      NaN         NaN
50%     240.000000      NaN      NaN    NaN     NaN      NaN         NaN
75%     363.500000      NaN      NaN    NaN     NaN      NaN         NaN
max     483.000000      NaN      NaN    NaN     NaN      NaN         NaN

                song   phrase           full_id  \
count            380      391               391
unique            92      388               391
top     K.K. Country  wee one  villager-admiral
freq              10        2                 1
mean             NaN      NaN               NaN
std              NaN      NaN               NaN
min              NaN      NaN               NaN
25%              NaN      NaN               NaN
50%              NaN      NaN               NaN
75%              NaN      NaN               NaN
max              NaN      NaN               NaN

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

In [4]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.head()
summary = df.describe(include='all')
summary

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
count,391.000000,390,391,391,391,391,391,380,391,391,391
unique,NaN,390,391,2,35,361,8,92,388,391,391
top,NaN,admiral,Admiral,male,cat,1-27,lazy,K.K. Country,wee one,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
freq,NaN,1,1,204,23,2,60,10,2,1,1
mean,239.902813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,140.702672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,117.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,240.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,363.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,483.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print("Before cleaning:", df.shape)

Before cleaning: (391, 11)

In [6]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
threshold = 0.5 * len(df)  
columns_to_drop = df.columns[df.isna().sum() > threshold]
df.drop(columns=columns_to_drop, inplace=True)
df_cleaned = df.dropna()
print("After cleaning:", df_cleaned.shape)
print("Columns dropped due to excessive missing values:", columns_to_drop)

After cleaning: (379, 11)
Columns dropped due to excessive missing values: Index([], dtype='object')

In [7]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
grouped = df.groupby("sex")["age"].describe()
print(grouped)

        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

After cleaning: (379, 11)
Columns dropped due to excessive missing values: Index([], dtype='object')